<p style='text-align: right;'><i>August 1st - 4th, 2023 </i> </p>

<h1 style="background-color:orange;"></h1>

<h1 style='text-align: center;'> ColMex Team Datathon 2023 </h1>

<h3 style='text-align: center;'> <i>PART II: Music Category Selected </i> </h3>

<h5 style='text-align: center;'> <i>Our data journey</i> </h5>

<h1 style="background-color:orange;"></h1>

<div style="background-color:LightGray;"><p style='text-align: center;'><align = center>Participants: <i>Jose Ni√±o, Eduardo Avelar, Andres Ruiz, Rodrigo Quezada </i></p></div>

***

 ### Imports and initial data set pull

> Getting started

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow

In [2]:
# Acronym for the Streaming Data Set is smds

datathon_music_8323_file = "/Users/dslab/Downloads/stream_data_music_70223.parquet"
smds = pd.read_parquet(datathon_music_8323_file, engine='pyarrow')

In [3]:
# Acronym for the Batch Music Batch Data Set is bmds

datathon_music_batch_8323_file = "/Users/dslab/Downloads/batch_data_music_all.parquet"
bmds = pd.read_parquet(datathon_music_batch_8323_file, engine='pyarrow')

### EDA / Data Profiling

<br/>

> 1. Dimension shape

> 2. Check head and tail 

> 3. Review data types, column names, and identify missing data

> 4. Determine overall data quality

In [4]:
# Understand scope of sample data set for reviews

smds.shape

(33924, 11)

In [5]:
# Understand scope of sample data set for metadata

bmds.shape

(291631, 11)

In [6]:
# Check initial display on reviews

smds.head(2)

,asin,overall,reviewText,reviewerID,reviewerName,summary,verified,id,style,vote,image
10,B0002EB5P8,5.0,What a fun way to enjoy music! It's fun to in...,A33OSMGPGT8HDV,barkej,Great Standards,true,23624,None,2,None
12,B0002E59IC,4.0,Chose this speaker because it seemed like the ...,A1UDQQU0EPVH8C,wayner-Take-1,Loud and clear,true,23752,None,None,None

In [7]:
# Check initial display on metadata

bmds.head(2)

,asin,image,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote
0,B00N9330MU,None,4.0,When my & and 5 yr old daughters opened it at ...,A3V0480PVRUZGP,Cluckadoodledoo,None,... yr old daughters opened it at Christmas I ...,1421452800,false,9
1,B00N9330MU,None,4.0,My daughter loves this machine. The volume is ...,ANM0OAW6DMOSD,Misty Christian,None,Four Stars,1412553600,true,9

In [8]:
# Check overall data set information on column names, missing data and data types for reviews

smds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33924 entries, 10 to 70221
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   asin          33924 non-null  object
 1   overall       33924 non-null  object
 2   reviewText    33897 non-null  object
 3   reviewerID    33924 non-null  object
 4   reviewerName  33924 non-null  object
 5   summary       33917 non-null  object
 6   verified      33924 non-null  object
 7   id            33924 non-null  object
 8   style         7243 non-null   object
 9   vote          4912 non-null   object
 10  image         539 non-null    object
dtypes: object(11)
memory usage: 3.1+ MB

In [9]:
# Check overall data set information on column names, missing data and data types for metadata

bmds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291631 entries, 0 to 291630
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   asin            291631 non-null  object
 1   image           6842 non-null    object
 2   overall         291631 non-null  object
 3   reviewText      291440 non-null  object
 4   reviewerID      291631 non-null  object
 5   reviewerName    291599 non-null  object
 6   style           124175 non-null  object
 7   summary         291567 non-null  object
 8   unixReviewTime  291631 non-null  object
 9   verified        291631 non-null  object
 10  vote            44582 non-null   object
dtypes: object(11)
memory usage: 24.5+ MB

#### Checking relationship of asin among the 2 data frames

In [10]:
# Reviews data set against Metadata data set

smds['asin'].isin(bmds['asin']).value_counts()

False    33924
Name: asin, dtype: int64

In [11]:
# Metadata data set against Reviews data set

bmds['asin'].isin(smds['asin']).value_counts()

False    291631
Name: asin, dtype: int64

In [12]:
smds.describe()

,asin,overall,reviewText,reviewerID,reviewerName,summary,verified,id,style,vote,image
count,33924,33924,33897,33924,33924,33917,33924,33924,7243,4912,539
unique,4830,5,27235,26235,21862,19009,2,33924,986,48,459
top,B0002F742K,5.0,Great,A2NYK9KWFMJV4Y,Amazon Customer,Five Stars,true,23624,"{""Color:"":"" Black""}",2,"[""https://images-na.ssl-images-amazon.com/imag..."
freq,20,22670,76,78,2358,6885,28893,1,1082,1919,4

In [13]:
bmds.describe()

,asin,image,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote
count,291631,6842,291631,291440,291631,291599,124175,291567,291631,291631,44582
unique,30085,6718,5,266276,245074,176500,5285,168548,4659,2,218
top,B000ULAP4U,"[""https://images-na.ssl-images-amazon.com/imag...",5.0,good,A2NYK9KWFMJV4Y,Amazon Customer,"{""Color:"":"" Black""}",Five Stars,1456790400,true,2
freq,4243,2,186646,575,82,24423,11587,53732,436,258947,16640

## Initial prep work prior to EDA

> Rename overall column to score as if we decide on predictive ML this will be the Target Variable

> Drop the columns that are not providing enough information gain

> Change score column data type to int64

> Change unixReviewTime column data type to datetime64[ns] to make it more human readable friendly

> Change the unixReviewTime column name timestamp now that it has the friendly display

> Sort by timestamp and reset index to match the new order

> Add feature engineering for dates as will be helpful for the data analysis phase

> Convert date column from object to date data type M8[ns]

> Final check to confirm the null values left are unavoidable and thus keeping those

In [14]:
# Changing the column name at current 1% scope Review Data Set

smds.rename(columns = {'overall':'score'}, inplace = True)
smds.head(1)

,asin,score,reviewText,reviewerID,reviewerName,summary,verified,id,style,vote,image
10,B0002EB5P8,5.0,What a fun way to enjoy music! It's fun to in...,A33OSMGPGT8HDV,barkej,Great Standards,true,23624,None,2,None

In [15]:
# Changing the column name at current 1% scope Review Data Set

bmds.rename(columns = {'overall':'score'}, inplace = True)
bmds.head(1)

,asin,image,score,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote
0,B00N9330MU,None,4.0,When my & and 5 yr old daughters opened it at ...,A3V0480PVRUZGP,Cluckadoodledoo,None,... yr old daughters opened it at Christmas I ...,1421452800,false,9

In [16]:
# Remove columns that are not needed

smds.drop(['style','vote','image', 'reviewerName', 'id'], axis = 1, inplace = True)
smds.head(1)

,asin,score,reviewText,reviewerID,summary,verified
10,B0002EB5P8,5.0,What a fun way to enjoy music! It's fun to in...,A33OSMGPGT8HDV,Great Standards,true

In [17]:
# Remove columns that are not needed

bmds.drop(['style','vote','image', 'reviewerName'], axis = 1, inplace = True)
bmds.head(1)

,asin,score,reviewText,reviewerID,summary,unixReviewTime,verified
0,B00N9330MU,4.0,When my & and 5 yr old daughters opened it at ...,A3V0480PVRUZGP,... yr old daughters opened it at Christmas I ...,1421452800,false

In [18]:
# Change score to int64 data type

smds['score'].replace(['1.0', '2.0', '3.0', '4.0', '5.0'], [1, 2, 3, 4, 5], inplace = True)
smds.dtypes

asin          object
score          int64
reviewText    object
reviewerID    object
summary       object
verified      object
dtype: object

In [19]:
# Change score to int64 data type

bmds['score'].replace(['1.0', '2.0', '3.0', '4.0', '5.0'], [1, 2, 3, 4, 5], inplace = True)
bmds.dtypes

asin              object
score              int64
reviewText        object
reviewerID        object
summary           object
unixReviewTime    object
verified          object
dtype: object

In [20]:
bmds['unixReviewTime'] = pd.to_datetime(bmds['unixReviewTime'], unit='s')
bmds.dtypes

asin                      object
score                      int64
reviewText                object
reviewerID                object
summary                   object
unixReviewTime    datetime64[ns]
verified                  object
dtype: object

In [21]:
# Now change the name to timestamp

bmds.rename(columns = {'unixReviewTime':'timestamp'}, inplace = True)
bmds.head(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified
0,B00N9330MU,4,When my & and 5 yr old daughters opened it at ...,A3V0480PVRUZGP,... yr old daughters opened it at Christmas I ...,2015-01-17,false

In [22]:
# Sorting data set per time line and reseting index

bmds.sort_values(by = ['timestamp'], inplace = True)
bmds.reset_index(inplace = True, drop = True)
bmds.head()

,asin,score,reviewText,reviewerID,summary,timestamp,verified
0,0793587395,4,I bought this book about a week ago and i lear...,AU5M0ZJJOW2JW,A amazing guitar tab book,2000-04-05,false
1,0879306211,5,Mr. Smith was able to write a story of the evo...,A3ENXEQFPNMJ86,The only unbiased book that tells the whole story,2000-10-11,false
2,B00005K9DV,5,Amazing keyboard from Yamaha. I have always wa...,A2OTFCTT0QMJZV,WOW! I can play!!!,2001-08-16,false
3,B00005K9DV,5,The EZ30 is without a doubt the best keyboard ...,AW0NAOOVASH53,A Beginners Dream Come True!,2002-03-01,true
4,B000065BP9,5,These headphones are very good. The sound is ...,A26F9R9BU88198,Great sound. Good price.,2002-06-01,false

In [23]:
# Checking sorting at the end of the data set as well

bmds.tail()

,asin,score,reviewText,reviewerID,summary,timestamp,verified
291626,B01EWOUFEA,5,Great price for a great product.,A1FQOGLD0LVXYY,Great price.,2018-09-25,true
291627,B01DMFP1TO,5,A necessity on charcoal smokers.,A34SYC4UTVAK3G,A necessity on charcoal smokers.,2018-09-26,true
291628,B01HBJ7B3Q,1,Just opened my notebook to work on a Jazz arra...,A1DMBC8UQMNB2D,4 line staff,2018-09-28,true
291629,B01FXIZ5G2,4,This product is what I would consider average ...,A1NHM0X4I4E23V,Decent quality,2018-09-29,true
291630,B01FXIZ5G2,1,"Cannot change the light color, it won't connec...",A2RN0VV1IWEQ4K,Only flashes red,2018-09-29,true

In [24]:
# Some feature engineering for time and date

bmds['date'] = pd.to_datetime(bmds['timestamp']).dt.date
bmds['year'] = pd.to_datetime(bmds['timestamp']).dt.year
bmds.head(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year
0,0793587395,4,I bought this book about a week ago and i lear...,AU5M0ZJJOW2JW,A amazing guitar tab book,2000-04-05,false,2000-04-05,2000

In [25]:
# Confirm data types

bmds.dtypes

asin                  object
score                  int64
reviewText            object
reviewerID            object
summary               object
timestamp     datetime64[ns]
verified              object
date                  object
year                   int64
dtype: object

In [26]:
# Convert date column from object to date

bmds['date'] = pd.to_datetime(bmds['date'])
bmds['date'].dtypes

dtype('<M8[ns]')

In [27]:
# Final confirmation on null values and that they do not interfere with the analyisis

bmds.isnull().sum()

asin            0
score           0
reviewText    191
reviewerID      0
summary        64
timestamp       0
verified        0
date            0
year            0
dtype: int64

In [28]:
# Final summary statistics of the current 1% scope Review Data Set

bmds.describe(include='all', datetime_is_numeric=True)

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year
count,291631,291631.000000,291440,291631,291567,291631,291631,291631,291631.000000
unique,30085,NaN,266276,245074,168548,NaN,2,NaN,NaN
top,B000ULAP4U,NaN,good,A2NYK9KWFMJV4Y,Five Stars,NaN,true,NaN,NaN
freq,4243,NaN,575,82,53732,NaN,258947,NaN,NaN
mean,NaN,4.215149,NaN,NaN,NaN,2015-09-16 19:13:37.826637056,NaN,2015-09-16 19:13:37.826637056,2015.235702
min,NaN,1.000000,NaN,NaN,NaN,2000-04-05 00:00:00,NaN,2000-04-05 00:00:00,2000.000000
25%,NaN,4.000000,NaN,NaN,NaN,2014-09-28 00:00:00,NaN,2014-09-28 00:00:00,2014.000000
50%,NaN,5.000000,NaN,NaN,NaN,2016-02-20 00:00:00,NaN,2016-02-20 00:00:00,2016.000000
75%,NaN,5.000000,NaN,NaN,NaN,2017-03-07 00:00:00,NaN,2017-03-07 00:00:00,2017.000000
max,NaN,5.000000,NaN,NaN,NaN,2018-09-29 00:00:00,NaN,2018-09-29 00:00:00,2018.000000
std,NaN,1.277012,NaN,NaN,NaN,NaN,NaN,NaN,2.119840

In [29]:
print(f'Amount of years in this data set is :')
print(len(bmds['year'].unique()))

Amount of years in this data set is :
19

In [30]:
print(f'List/array of years in this data set in order:')
print(bmds['year'].unique())

List/array of years in this data set in order:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018]

In [31]:
# we can by now drop the timestamp column as date with time is not needed

bmds.drop(['timestamp'], axis = 1, inplace = True)
bmds.head(1)

,asin,score,reviewText,reviewerID,summary,verified,date,year
0,0793587395,4,I bought this book about a week ago and i lear...,AU5M0ZJJOW2JW,A amazing guitar tab book,false,2000-04-05,2000

In [32]:
# we can finally add another feature engineering column for reference for counting called "cnt" with a constant

#rds['cnt'] = pd.Series([1 for x in range(len(rds.index))])
#rds.head()

## EDA 

> Form smaller data sets/subsets for target processing

> Work with timelines to display reviews and score behaviors over time

In [33]:
# Reviews data set against stream data set

bmds['asin'].isin(smds['asin']).value_counts()

False    291631
Name: asin, dtype: int64

In [34]:
# Reviews data set against batch data set

smds['asin'].isin(bmds['asin']).value_counts()

False    33924
Name: asin, dtype: int64

In [35]:
mods.head()

NameError: name 'mods' is not defined

In [ ]:
# Using data set acronym as SoftWare Metadata Data Set as swmds

datathon_metadata_pkt_731_file = "/Users/dslab/Downloads/andres_metadata_music.parquet"
mds = pd.read_parquet(datathon_metadata_pkt_731_file, engine='pyarrow')

In [ ]:
mds.shape

In [ ]:
mds.head()

In [ ]:
mds.tail()

In [ ]:
mds.columns

In [ ]:
# Acronym as New Metadata Data Set as nmds


nmds = mds[['asin', 'brand', 'title']]
nmds.head(1)

In [ ]:
nmds.shape

In [ ]:
bmds.shape

In [ ]:
bmds['asin'].describe()

In [ ]:
# Reviews data set against Metadata data set

bmds['asin'].isin(nmds['asin']).value_counts()

In [ ]:
# Reviews data set against Metadata data set

nmds['asin'].isin(bmds['asin']).value_counts()

In [ ]:
bmds.sort_values(by = ['date'], inplace = True)
bmds.reset_index(inplace = True, drop = True)
bmds.head()

In [ ]:
bmds.tail()

In [ ]:
# Using acronym One Data Set as ods

mods = pd.merge(bmds, nmds, how='inner', on='asin')

# Making sure all rows of Reviews are still at data set

mods.shape

In [ ]:
# Not sure why the increase during the merge, should have been 291,631

311670 - 291631

In [ ]:
duplicates = mods[mods.duplicated()]
 
print("Display of duplicated rows :")
duplicates

In [ ]:
# Checking the first asin of the list

mods[mods['asin'] == 'B00005K9DV']

In [ ]:
mods.drop_duplicates(keep='first', inplace=True)
mods.shape

In [ ]:
duplicates = mods[mods.duplicated()]
 
print("Display of duplicated rows :")
duplicates

In [ ]:
mods.sort_values(by = ['date'], inplace = True)
mods.reset_index(inplace = True, drop = True)
mods.head()

In [ ]:
mods.tail()

In [ ]:
mods.isnull().sum()

In [ ]:
mods['brand'].value_counts()

In [ ]:
mods['brand'].describe()

In [ ]:
grp_music_brands = mods.groupby(['brand'], as_index=False)['score'].sum()
grp_music_brands

In [ ]:
sorted_grp_music_brands = grp_music_brands.sort_values(by=["score"], ascending = False)
sorted_grp_music_brands.reset_index(inplace = True, drop = True)
sorted_grp_music_brands.head(20)

In [ ]:
mods[mods['brand'] == '']

In [ ]:
mods[mods['asin'] == 'B0002KWXQM']

In [ ]:
mods[mods['asin'] == 'B00029X6NW']

In [ ]:
# Feature engineering by addign a constant that can be useful later before empty brand values clean up

mods['cnt'] = pd.Series([1 for x in range(len(mods.index))])
mods.head(1)

In [ ]:
# Clean mods without the brand that has no value then

cmods = mods[mods['brand'] != '' ]
cmods.shape

In [ ]:
cmods.head()

In [ ]:
# Now get a subset for visuals

brand_n_score_timeline = mods[['date', 'brand', 'score','cnt', 'year']]
brand_n_score_timeline.head()

In [ ]:
brand_n_score_timeline.info()

In [ ]:
# Create Univariate Histrogram of Music Category star distribution

plt.figure(figsize=[10,5])

plt.hist(brand_n_score_timeline['score'], bins=5, edgecolor='white', align='mid', color = 'green'); 

plt.xlabel("Stars");
plt.ylabel("Count");
plt.title("Star Reviews Distribution at Music Industry");
plt.show();

In [ ]:
# Group timeline subset using the mean on both columns

mean_timeline_brand_ds = brand_n_score_timeline.groupby(['date'], as_index = False).mean()
mean_timeline_brand_ds.head(6)

In [ ]:
plt.figure(figsize=(18,8))
y = mean_timeline_brand_ds['score']
x = mean_timeline_brand_ds['date']
plt.scatter(x,y).set_color("orange");

plt.yticks(range(1, 5))

plt.title('Star Review Outcomes by Days Musical Category')
plt.xlabel('Timeline in Days')
plt.ylabel('Stars');

In [ ]:
# Group timeline subset using the year and mean on both columns

year_mean_timeline_brand_ds = mean_timeline_brand_ds.groupby(['year'], as_index = False).mean()
year_mean_timeline_brand_ds.head()

In [ ]:
# Now plot by year

plt.figure(figsize=(18,5))
y = year_mean_timeline_brand_ds['score']
x = year_mean_timeline_brand_ds['year']
plt.scatter(x,y).set_color("orange");

plt.yticks(range(1, 5))
plt.xticks([1998, 2002, 2006, 2010, 2014, 2018])

plt.title('Star Review Average Outcome by Year Musical Category')
plt.xlabel('Years')
plt.ylabel('Stars');

In [ ]:
# Group timeline subset using sum on both columns

sum_timeline_brand_ds = brand_n_score_timeline.groupby(['date'], as_index = False).sum()
sum_timeline_brand_ds.head(6)

In [ ]:
plt.figure(figsize=(18,8))
y = sum_timeline_brand_ds['cnt']
x = sum_timeline_brand_ds['date']
plt.scatter(x,y).set_color("purple");

plt.title('Reviews Count by Days Musical Category')
plt.xlabel('Timeline in Days')
plt.ylabel('Reviews');

In [ ]:
# Likely will look better with a line plot

plt.figure(figsize=(18,8))
new_y_limit = sns.lineplot(x = 'date', y = 'cnt', data = sum_timeline_brand_ds, color = 'purple');

#new_y_limit.set_ylim(0, 5)
#new_y_limit.set_xlim(1998, 2018)

#new_y_limit.set(xticks=[1998, 2002, 2006, 2010, 2014, 2018], yticks=[1, 2, 3, 4, 5])

#Axes.set_xlim(self, left=None, right=None, emit=True, auto=False, *, xmin=None, xmax=None)
#Axes.set_ylim(self, bottom=None, top=None, emit=True, auto=False, *, ymin=None, ymax=None)


plt.title('Reviews Count by Days Musical Category')
plt.xlabel('Timeline in Days')
plt.ylabel('Reviews');

In [ ]:
# Seems we can benefit of a grouped year version of data

# Group timeline subset using the year and sum on both columns

year_sum_timeline_brand_ds = brand_n_score_timeline.groupby(['year'], as_index = False).sum()
year_sum_timeline_brand_ds.head(6)

In [ ]:
# Likely will look better with a line plot

plt.figure(figsize=(20,6))
new_yrs_limit = sns.lineplot(x = 'year', y = 'cnt', data = year_sum_timeline_brand_ds, color = 'purple');

new_yrs_limit.set(xticks=[1998, 2002, 2006, 2010, 2014, 2018])

plt.title('Reviews Count by Years Musical Category')
plt.xlabel('Timeline in Years')
plt.ylabel('Reviews');

In [ ]:
# A final summary statistics overview of the scores

brand_n_score_timeline['score'].describe()

In [ ]:
brand_n_score_timeline['score'].value_counts()

In [ ]:
# Counting total of 5 stars records

fivestar_ds = cmods[cmods['score'] == 5]
fivestar_ds.shape

In [ ]:
# Counting total of 4 stars records

fourstar_ds = cmodsrds[rds['score'] == 4]
fourstar_ds.shape

In [ ]:
# Counting total of 3 stars records

threestar_ds = rds[rds['score'] == 3]
threestar_ds.shape

In [ ]:
# Counting total of 2 stars records

twostar_ds = rds[rds['score'] == 2]
twostar_ds.shape

In [ ]:
# Counting total of 1 star records

onestar_ds = rds[rds['score'] == 1]
onestar_ds.shape

In [ ]:
grp_by_year_and_score_brand = brand_n_score_timeline.groupby(['year','score']).count().reset_index()
grp_by_year_and_score_brand.drop(['date'], axis = 1, inplace = True)
display(grp_by_year_and_score_brand)

In [ ]:
grp_by_year_and_score_brand.columns

In [ ]:
# Combining all of the score per group of star rating over the years with lines

plt.figure(figsize=(20,6))
score_combo_limits = sns.lineplot(x='year', y='cnt', hue='score', data=grp_by_year_and_score_brand, palette=['r', 'g', 'b', 'y', 'c'], linewidth=2.5);

#score_combo_limits = sns.lineplot(x='year', y='cnt', hue='score', data=grp_by_year_and_score, linewidth=2.5);

score_combo_limits.set(xticks=[1998, 2002, 2006, 2010, 2014, 2018])

plt.title('Reviews Count by Years Music Category')
plt.xlabel('Timeline in Years')
plt.ylabel('Reviews');

In [ ]:
# Combining all of the score per group of star rating over the years with a scatter plot

plt.figure(figsize=(20,6))
score_combo_s_limits = sns.scatterplot(x='year', y='cnt', hue='score', data=grp_by_year_and_score_brand, palette=['r', 'g', 'b', 'y', 'c']);

score_combo_s_limits.set(xticks=[1998, 2002, 2006, 2010, 2014, 2018])

plt.title('Reviews Count by Years')
plt.xlabel('Timeline in Years')
plt.ylabel('Reviews');

<div class="alert alert-block alert-warning">

<h2> Process Insights 8/4/2023</h2>
-------------------------------------------------------------------------------------------------------------------------------

    
- There is an overall trend towards more reviews over time accentuated since 2013 which is a good thing as more data can be leveraged on, however, the trend reaches it's peak at year 2016 and then goes back in 2017 to a similar data point as the year prior to the peak (back to 2015 numbers). Then 2018 while incomplete, still seems to now might be less than 2015 yet data might be incomplete so needs to be confirmed once the 2018 data is complete. It therefore, follows the general Amazon trend.
- Score/Review of 1 star only accounts for 13,502 of the 287,123 reviews which is 4.70%.
- Score/Review of 4 stars accounts for 44,454 of the 287,123 reviews which is 15.48%.
- Score/Review of 5 stars accounts for 183,690 of the 287,123 reviews which is 63.98%.
    
    

<h3> It is an overwhelming mayority of positive reviews (79.46% with either 5 or 4 stars and mean of 4.21 stars) which allows to better extract what is that consumers like and/or enjoy the most which allows to suggest new products and/or predict customer satisfaction per market needs. 
</h3> 
    
<h3> Now we need to move into an specific companies so we can select one to target to benefit from the insights related to brand health and improvement. 
</h3> 
       
</div>