# Create SQL Tables

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column
from sqlalchemy import Integer, String, Date, Boolean

In [ ]:
SERVER = 'server-db-colmex.database.windows.net'
DATABASE = 'db-colmex'
USER_NAME = ''
PASSWORD = ''
DRIVER = '{ODBC Driver 17 for SQL Server}'

In [ ]:
params = f'DRIVER={DRIVER};SERVER={SERVER};DATABASE={DATABASE};UID={USER_NAME};PWD={PASSWORD}'
engine = create_engine(f'mssql+pyodbc:///?odbc_connect={params}')
meta_sql = MetaData()

In [ ]:
table_name = "reviews"

st_reviews = Table(
    table_name,
    meta_sql,
    Column("reviewID", String(45), primary_key=True),
    Column("asin", String(10), nullable=False),
    Column("overall", Integer),
    Column("reviewText", String),
    Column("reviewerID", String(20), nullable=False),
    Column("reviewerName", String(300)),
    Column("summary", String(500)),
    Column("dateReview", Date, nullable=False),
    Column("verified", Boolean),
    Column("vote", Integer),
    Column("sentiment", String(10)),
    Column("emotion", String(10)),
)

In [ ]:
table_name = "metadata"

metadata_table = Table(
    table_name,
    meta_sql,
    Column("asin", String(10), primary_key=True),
    Column("brand", String(400)),
    Column("category", String),
    Column("title", String(1000)),
)

In [ ]:
meta_sql.create_all(engine)