*7.31.2023 PM Monday*

<div class="alert alert-block alert-success">
<center><h1><b> Datathon Initial Category Exploratory Data Analysis / Data Understanding </b></h1></center>

<br/> 


Objectives:

    *   Understand the data with a) Descriptive/Summary Statistics and b) Data Visualization (graphs/charts/tables)
    *   Determine if data makes sense
    *   Identify data patterns/trends/gain insights    
    *   Identify key Vars
    *   Determine if data wrangling/cleaning/scrub is needed (identify imperfections/probls in the data)
    

</div>

***

# Data Collection

## Imports and dataset extraction

> Getting started

In [ ]:
#pip install pandas pyarrow

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow

In [2]:
# Rod's standard variable for a DataFrame is ds as acronym for One Data Set (ods)

datathon_eda_sw_industry_one_df_file = "/Users/dslab/one_sw_df_7312023_2104.parquet"
ods = pd.read_parquet(datathon_eda_sw_industry_one_df_file, engine='pyarrow')

In [3]:
# Rod's standard variable for a DataFrame is ds as acronym for data set and now Streaming Data Set (sds)


datathon_first_streaming_pkt_731_file = "/Users/dslab/Downloads/stream_40223_samples.parquet"
sds = pd.read_parquet(datathon_first_streaming_pkt_731_file, engine='pyarrow')

In [4]:
ods['asin'].describe()

count         292055
unique         13209
top       B00CTTEKJW
freq            7929
Name: asin, dtype: object

In [5]:
sds['asin'].describe()

count          40223
unique          2806
top       B015R4DH2G
freq            2126
Name: asin, dtype: object

### Checking relationship of asin among the 2 data frames

In [7]:
# Reviews & Metadata data set against Streaming data set

ods['asin'].isin(sds['asin']).value_counts()

False    292055
Name: asin, dtype: int64

In [8]:
# Streaming data set against Reviews & Metadata data set

sds['asin'].isin(ods['asin']).value_counts()

False    40223
Name: asin, dtype: int64

In [9]:
sds.head()

,asin,overall,reviewText,reviewerID,reviewerName,summary,verified,internal_partition,partition_number,style,vote,image
0,B00005QDPX,5,Crazy Taxi is by far one of the best video gam...,A36TDX8DY2XK5Q,Some Kid,It's Party Time! Let's Have Some Fun!,false,0,1,None,NaN,None
1,B000MXIMKK,4,I love these pants!\n\nFor those of us who sla...,AZZ1YPRM2FAUH,David Colgrove,"Durable, good looking slacks at a reasonable p...",true,0,2,"{""Size:"":"" 33W x 30L"",""Color:"":"" Graphite""}",6.0,None
2,B00005QDPX,2,Anyone who hasn't played this game should rent...,A3PASG15BRR40D,SleepyJD,A fun game that gets old too quickly,false,0,3,None,NaN,None
3,B000MXIMKK,5,Great pants and nice crease.,A388UHKJN07JJT,TJK,Great Product,true,0,4,"{""Size:"":"" 42W x 30L"",""Color:"":"" Black""}",NaN,None
4,B00005QDPX,4,In this game you choose a driver and car then ...,A29YLR71A42A3N,Amazon Customer,Fun and Entertaining,false,0,5,None,3.0,None

In [10]:
ods[ods['asin'] == 'B00005QDPX']

Empty DataFrame
Columns: [asin, score, reviewText, reviewerID, summary, timestamp, verified, date, year, month, day, day_of_week, brand, title]
Index: []

In [ ]:
cmds.isnull().sum()

In [ ]:
cmds.info()

In [ ]:
cmds.head()

### Checking relationship of asin among the 2 data frames

In [ ]:
# Reviews data set against Metadata data set

ds['asin'].isin(cmds['asin']).value_counts()

In [ ]:
# Metadata data set against Reviews data set

cmds['asin'].isin(ds['asin']).value_counts()

### Merging and checking

In [ ]:
# Using acronym One Data Set as ods

ods = pd.merge(ds, cmds, how='inner', on='asin')
ods.shape

In [ ]:
ods.info()

In [ ]:
ods.head()

In [ ]:
ods['brand'].describe()

## Checkpoint

> Loading progress into a new file

In [ ]:
ds.to_parquet('_____.parquet')

**End of process**