*7.29.2023 AM*

<div class="alert alert-block alert-success">
<center><h1><b> Datathon Initial Category Exploratory Data Analysis / Data Understanding </b></h1></center>
<center><h2><b> Part I </b></h2></center>

<br/> 


Objectives:

    *   Understand the data with a) Descriptive/Summary Statistics and b) Data Visualization (graphs/charts/tables)
    *   Determine if data makes sense
    *   Identify data patterns/trends/gain insights    
    *   Identify key Vars
    *   Determine if data wrangling/cleaning/scrub is needed (identify imperfections/probls in the data)
    

</div>

***

# Data Collection

## Imports and dataset extraction

> Getting started

In [1]:
#pip install pandas pyarrow

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow

In [3]:
# Rod's standard variable for a DataFrame is ds as acronym for data set


datathon_metadata_pkt_file = "/Users/dslab/Downloads/reviews_sample_1p.parquet"
ds = pd.read_parquet(datathon_metadata_pkt_file, engine='pyarrow')

In [4]:
# If we also analyze the metadata over here, it is handy

#datathon_metadata_pkt_file = "/Users/dslab/Downloads/metadata_sample_1p.parquet"
#mds = pd.read_parquet(datathon_metadata_pkt_file, engine='pyarrow')

# Business/Data Understanding

## Read dataset

> Basic data/business understanding

In [5]:
ds.shape

(1499752, 11)

In [6]:
ds.head(2)

,asin,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote,image
0,B00CGYCNZI,4.0,I have used Panasonic and GE earlier as my cor...,AOZOE2033AQK,Ramesh,"{""Style:"":"" 2 Handset""}",Worth the Value and Love it..,1472342400,true,None,None
1,B000V8CZYA,2.0,"The sound quality is great, but a bit of cosme...",A1AJFYLPI8M1LI,Buyer in Texas,None,"Expensive, hard to navigate menus",1196553600,true,None,None

In [7]:
ds.tail(2)

,asin,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote,image
55931,0356500624,5.0,Patricia has us following Mercy through numero...,A36LAGWPKOKH1R,Elaine Hopkins,"{""Format:"":"" Kindle Edition""}",Mercy in a familiar situation,1394496000,false,None,None
55932,B00GTU2WJ2,5.0,I was a little worried at first that the grate...,A2PNIJMDXGD9WI,Chrystal Mahan,None,Another Utensil to Add to My Collection,1391990400,false,None,None

In [8]:
ds

,asin,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote,image
0,B00CGYCNZI,4.0,I have used Panasonic and GE earlier as my cor...,AOZOE2033AQK,Ramesh,"{""Style:"":"" 2 Handset""}",Worth the Value and Love it..,1472342400,true,None,None
1,B000V8CZYA,2.0,"The sound quality is great, but a bit of cosme...",A1AJFYLPI8M1LI,Buyer in Texas,None,"Expensive, hard to navigate menus",1196553600,true,None,None
2,B00CGYCNZI,2.0,did not last very long no longer working,A2X5NQN9TH9UUX,rufino maduena,"{""Style:"":"" 2 Handset""}",Two Stars,1471996800,true,None,None
3,B000V8CZYA,3.0,I purchased the original iFP-100 series (iFP-1...,A2J8DK06LK1ULY,R. H. Lee,None,"As they say, they don't make 'em like they use...",1196208000,true,None,None
4,B00CGYCNZI,5.0,Work very well.,A1YH5WS62ADB7M,Amazon Customer,"{""Style:"":"" 2 Handset""}",Five Stars,1471651200,true,None,None
...,...,...,...,...,...,...,...,...,...,...,...
55928,B00GTU2WJ2,5.0,Have you ever noticed that a smell can transpo...,A30X9M0J5WOVAS,Amazon Customer,None,No Cook Should be Without One!,1392508800,false,19,None
55929,0356500624,5.0,I have read all of the Mercy Thompson books mu...,AGPGV5MAAB9GE,S Luedtke,"{""Format:"":"" Kindle Edition""}",I wish I could meet these characters!,1394668800,true,None,None
55930,B00GTU2WJ2,5.0,"Love the weight and length of this product, it...",A3HH4SFN5P4W6H,StephyG,None,practical and pretty,1392422400,false,None,None
55931,0356500624,5.0,Patricia has us following Mercy through numero...,A36LAGWPKOKH1R,Elaine Hopkins,"{""Format:"":"" Kindle Edition""}",Mercy in a familiar situation,1394496000,false,None,None
55932,B00GTU2WJ2,5.0,I was a little worried at first that the grate...,A2PNIJMDXGD9WI,Chrystal Mahan,None,Another Utensil to Add to My Collection,1391990400,false,None,None

In [9]:
ds.columns

Index(['asin', 'overall', 'reviewText', 'reviewerID', 'reviewerName', 'style',
       'summary', 'unixReviewTime', 'verified', 'vote', 'image'],
      dtype='object')

In [10]:
ds.dtypes

asin              object
overall           object
reviewText        object
reviewerID        object
reviewerName      object
style             object
summary           object
unixReviewTime    object
verified          object
vote              object
image             object
dtype: object

In [11]:
ds.describe()

,asin,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote,image
count,1499752,1499752,1498878,1499752,1499677,1010222,1499318,1499752,1499752,232669,22240
unique,129876,5,1386614,1300682,848318,36302,835518,7476,2,443,22181
top,B00571F26Y,5.0,Great,A2F6N60Z96CAJI,Amazon Customer,"{""Format:"":"" Kindle Edition""}",Five Stars,1461024000,true,2,"[""88""]"
freq,6114,942098,2719,136,110843,277609,248136,1902,1196297,79233,9

In [12]:
ds.isna().sum()

asin                    0
overall                 0
reviewText            874
reviewerID              0
reviewerName           75
style              489530
summary               434
unixReviewTime          0
verified                0
vote              1267083
image             1477512
dtype: int64

In [13]:
ds["asin"].value_counts()

B00571F26Y    6114
0349403759    5196
1463717091    4848
B0002UPGOI    4400
B00M0DGBRQ    4244
              ...
B00GO1SFB0       1
B000I97FCY       1
1974318524       1
B00GO3KL9C       1
0841608792       1
Name: asin, Length: 129876, dtype: int64

In [14]:
ds["overall"].value_counts()

5.0    942098
4.0    249879
3.0    118182
1.0    117964
2.0     71629
Name: overall, dtype: int64

## Initial observations

***

- We are going to need transformations as all items are data type Object(strings).
- We shall drop the columns:  *image, vote, and style* per low information gain (and many NaN values).
- Columns *reviewerID and reviewerName* are related yet reviewerID is free of missing values, thus removing the *reviewerName* column as well
- Suggest changing name to *overall* into **score** and data type to int64 as is likely the target variable.
- Reduce into smaller dataframes for visualizations and begin corelations
- Likely feature engineering will be beneficial
- Heavy string at column reviewText is target for further analysis and summary will be quite useful as well

***

## Initial prep work prior to EDA

> Act on the initial observations

In [15]:
# Changing the column named mentioned at Initial Observations

ds.rename(columns = {'overall':'score'}, inplace = True)

In [16]:
ds.head(1)

,asin,score,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote,image
0,B00CGYCNZI,4.0,I have used Panasonic and GE earlier as my cor...,AOZOE2033AQK,Ramesh,"{""Style:"":"" 2 Handset""}",Worth the Value and Love it..,1472342400,true,None,None

In [17]:
# Remove columns that are not needed

ds.drop(['style','vote','image'], axis = 1, inplace = True)

In [18]:
ds.head(1)

,asin,score,reviewText,reviewerID,reviewerName,summary,unixReviewTime,verified
0,B00CGYCNZI,4.0,I have used Panasonic and GE earlier as my cor...,AOZOE2033AQK,Ramesh,Worth the Value and Love it..,1472342400,true

In [19]:
# Now remove the related column that is not needed

ds.drop(['reviewerName'], axis = 1, inplace = True)

In [20]:
ds.head(1)

,asin,score,reviewText,reviewerID,summary,unixReviewTime,verified
0,B00CGYCNZI,4.0,I have used Panasonic and GE earlier as my cor...,AOZOE2033AQK,Worth the Value and Love it..,1472342400,true

In [21]:
# Change score to int64 data type

ds['score'].replace(['1.0', '2.0', '3.0', '4.0', '5.0'], [1, 2, 3, 4, 5], inplace = True)

In [22]:
ds.head(1)

,asin,score,reviewText,reviewerID,summary,unixReviewTime,verified
0,B00CGYCNZI,4,I have used Panasonic and GE earlier as my cor...,AOZOE2033AQK,Worth the Value and Love it..,1472342400,true

In [23]:
ds.dtypes

asin              object
score              int64
reviewText        object
reviewerID        object
summary           object
unixReviewTime    object
verified          object
dtype: object

In [24]:
# Confirmed most of the null values have been addressed

ds.isna().sum()

asin                0
score               0
reviewText        874
reviewerID          0
summary           434
unixReviewTime      0
verified            0
dtype: int64

In [25]:
# Convert unixReviewTime to a more human friendly timestamp

ds['unixReviewTime'] = pd.to_datetime(ds['unixReviewTime'], unit='s')
ds.head(1)

,asin,score,reviewText,reviewerID,summary,unixReviewTime,verified
0,B00CGYCNZI,4,I have used Panasonic and GE earlier as my cor...,AOZOE2033AQK,Worth the Value and Love it..,2016-08-28,true

In [26]:
# Now change the name to timestamp

ds.rename(columns = {'unixReviewTime':'timestamp'}, inplace = True)
ds.head(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified
0,B00CGYCNZI,4,I have used Panasonic and GE earlier as my cor...,AOZOE2033AQK,Worth the Value and Love it..,2016-08-28,true

In [27]:
ds['timestamp'].describe

<bound method NDFrame.describe of 0       2016-08-28
1       2007-12-02
2       2016-08-24
3       2007-11-28
4       2016-08-20
           ...
55928   2014-02-16
55929   2014-03-13
55930   2014-02-15
55931   2014-03-11
55932   2014-02-10
Name: timestamp, Length: 1499752, dtype: datetime64[ns]>

In [28]:
ds['timestamp'].unique()

array(['2016-08-28T00:00:00.000000000', '2007-12-02T00:00:00.000000000',
       '2016-08-24T00:00:00.000000000', ...,
       '1998-02-11T00:00:00.000000000', '1998-06-23T00:00:00.000000000',
       '1998-06-18T00:00:00.000000000'], dtype='datetime64[ns]')

In [29]:
# Sorting data set per time line

ds.sort_values(by = ['timestamp'], inplace = True)

In [30]:
ds.head(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified
3210,0871202433,5,"Robert Sylwester's much overlooked book, A Cel...",A2API7H1WS1C56,"A Celebration of Neurons, by Robert Sylwester,",1997-08-09,false

In [31]:
ds.tail(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified
48248,B01ELFB7J2,5,Was hesitant but definitely feeling good about...,A17GM6PCT98HBD,Nice socks,2018-09-28,true

In [32]:
# Some feature engineering for time and date

ds['date'] = pd.to_datetime(ds['timestamp']).dt.date
ds['year'] = pd.to_datetime(ds['timestamp']).dt.year
ds['month'] = pd.to_datetime(ds['timestamp']).dt.month
ds['day'] = pd.to_datetime(ds['timestamp']).dt.day
ds['day_of_week'] = pd.to_datetime(ds['timestamp']).dt.dayofweek
ds.head(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year,month,day,day_of_week
3210,0871202433,5,"Robert Sylwester's much overlooked book, A Cel...",A2API7H1WS1C56,"A Celebration of Neurons, by Robert Sylwester,",1997-08-09,false,1997-08-09,1997,8,9,5

In [33]:
# Convert data column from object to numeric

ds['date'] = pd.to_datetime(ds['date'])

In [34]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499752 entries, 3210 to 48248
Data columns (total 12 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   asin         1499752 non-null  object
 1   score        1499752 non-null  int64
 2   reviewText   1498878 non-null  object
 3   reviewerID   1499752 non-null  object
 4   summary      1499318 non-null  object
 5   timestamp    1499752 non-null  datetime64[ns]
 6   verified     1499752 non-null  object
 7   date         1499752 non-null  datetime64[ns]
 8   year         1499752 non-null  int64
 9   month        1499752 non-null  int64
 10  day          1499752 non-null  int64
 11  day_of_week  1499752 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(5)
memory usage: 148.7+ MB

In [35]:
ds.head()

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year,month,day,day_of_week
3210,0871202433,5,"Robert Sylwester's much overlooked book, A Cel...",A2API7H1WS1C56,"A Celebration of Neurons, by Robert Sylwester,",1997-08-09,false,1997-08-09,1997,8,9,5
7922,0061535680,1,"Trivia. Dialogue waste of time, paper and add...",AAW5NRUVURHU2,poor entry in derby of books written by lawyers,1997-08-13,false,1997-08-13,1997,8,13,2
45865,0316332259,5,Twenty years after his sudden death and a resu...,A1IBMUD9XXD68X,An Icon of His Era And Of All Time,1997-08-17,false,1997-08-17,1997,8,17,6
19437,0933149581,3,The author writes about the education of speci...,A1LOZWO9JTN5L8,Wings to Fly: Bringing Theatre Arts to Student...,1997-08-21,false,1997-08-21,1997,8,21,3
21181,0356108163,4,A really nice collection of stories by Stephen...,A2ILUXA828DESI,No bones to pick about this book,1997-08-23,false,1997-08-23,1997,8,23,5

In [36]:
ds.describe(include='all', datetime_is_numeric=True)

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year,month,day,day_of_week
count,1499752,1.499752e+06,1498878,1499752,1499318,1499752,1499752,1499752,1.499752e+06,1.499752e+06,1.499752e+06,1.499752e+06
unique,129876,NaN,1386614,1300682,835518,NaN,2,NaN,NaN,NaN,NaN,NaN
top,B00571F26Y,NaN,Great,A2F6N60Z96CAJI,Five Stars,NaN,true,NaN,NaN,NaN,NaN,NaN
freq,6114,NaN,2719,136,248136,NaN,1196297,NaN,NaN,NaN,NaN,NaN
mean,NaN,4.217880e+00,NaN,NaN,NaN,2014-12-22 09:53:56.733540352,NaN,2014-12-22 09:53:56.733540352,2.014488e+03,6.365350e+00,1.569132e+01,2.849010e+00
min,NaN,1.000000e+00,NaN,NaN,NaN,1997-08-09 00:00:00,NaN,1997-08-09 00:00:00,1.997000e+03,1.000000e+00,1.000000e+00,0.000000e+00
25%,NaN,4.000000e+00,NaN,NaN,NaN,2014-03-26 00:00:00,NaN,2014-03-26 00:00:00,2.014000e+03,3.000000e+00,8.000000e+00,1.000000e+00
50%,NaN,5.000000e+00,NaN,NaN,NaN,2015-10-02 00:00:00,NaN,2015-10-02 00:00:00,2.015000e+03,6.000000e+00,1.600000e+01,3.000000e+00
75%,NaN,5.000000e+00,NaN,NaN,NaN,2016-12-25 00:00:00,NaN,2016-12-25 00:00:00,2.016000e+03,9.000000e+00,2.300000e+01,5.000000e+00
max,NaN,5.000000e+00,NaN,NaN,NaN,2018-09-28 00:00:00,NaN,2018-09-28 00:00:00,2.018000e+03,1.200000e+01,3.100000e+01,6.000000e+00
std,NaN,1.248376e+00,NaN,NaN,NaN,NaN,NaN,NaN,3.179991e+00,3.478390e+00,8.820286e+00,1.992188e+00

In [37]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499752 entries, 3210 to 48248
Data columns (total 12 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   asin         1499752 non-null  object
 1   score        1499752 non-null  int64
 2   reviewText   1498878 non-null  object
 3   reviewerID   1499752 non-null  object
 4   summary      1499318 non-null  object
 5   timestamp    1499752 non-null  datetime64[ns]
 6   verified     1499752 non-null  object
 7   date         1499752 non-null  datetime64[ns]
 8   year         1499752 non-null  int64
 9   month        1499752 non-null  int64
 10  day          1499752 non-null  int64
 11  day_of_week  1499752 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(5)
memory usage: 148.7+ MB

***

In [38]:
print(f'Amount of asin in this data set is :')
print(len(ds['asin'].unique()))

Amount of asin in this data set is :
129876

In [39]:
ds['year'].unique()

array([1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
      dtype=int64)

In [40]:
print(f'Amount of years in this data set is :')
print(len(ds['year'].unique()))

Amount of years in this data set is :
22

## Checkpoint

> Loading progress into a new file

In [42]:
ds.to_parquet('datathon_72923_EDA_round_1.parquet')

**End of process**