*7.30.2023 AM*

<div class="alert alert-block alert-success">
<center><h1><b> Datathon Software Industry Initial Category Exploratory Data Analysis / Data Understanding </b></h1></center>
<center><h2><b> Part I </b></h2></center>

<br/> 


Objectives:

    *   Understand the data with a) Descriptive/Summary Statistics and b) Data Visualization (graphs/charts/tables)
    *   Determine if data makes sense
    *   Identify data patterns/trends/gain insights    
    *   Identify key Vars
    *   Determine if data wrangling/cleaning/scrub is needed (identify imperfections/probls in the data)
    

</div>

***

# Data Collection

## Imports and dataset extraction

> Getting started

In [1]:
#pip install pandas pyarrow

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow

In [3]:
# Rod's standard variable for a DataFrame is ds as acronym for data set 


datathon_sw_industry_reviews_pkt_file = "/Users/dslab/Downloads/data_industry.parquet"
ds = pd.read_parquet(datathon_sw_industry_reviews_pkt_file, engine='pyarrow')

# Business/Data Understanding

## Read dataset

> Basic data/business understanding

In [4]:
ds.shape

(292055, 11)

In [7]:
ds.reset_index(inplace = True, drop = True)
ds.head(2)

,asin,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,image,vote
0,B002IYJQ9C,1.0,This software is a disgrace. It was published...,A2BJJGFS2NJ3H3,Jack Merritt,None,Pass this by,1280966400,true,None,4
1,B004X0DDOI,5.0,I have used the Riddle Me Program for several ...,A3Q4PK0YRKAEZ8,S.C. Nana,"{""Platform:"":"" PC Download""}",Riddle Me Scavenger and Treasure Hunt Program ...,1303344000,false,None,None

In [8]:
ds.tail(2)

,asin,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,image,vote
292053,B00004T72W,4.0,My daughter rushed to complete all of the task...,A39KJ5WY3YRV8N,J. Mowat,None,An enjoyable game (the first time),977097600,false,None,10
292054,B002WDFB48,5.0,Yes,A37CPI43XNNKP5,Amazon Customer,None,Five Stars,1470960000,true,None,None

In [9]:
ds

,asin,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,image,vote
0,B002IYJQ9C,1.0,This software is a disgrace. It was published...,A2BJJGFS2NJ3H3,Jack Merritt,None,Pass this by,1280966400,true,None,4
1,B004X0DDOI,5.0,I have used the Riddle Me Program for several ...,A3Q4PK0YRKAEZ8,S.C. Nana,"{""Platform:"":"" PC Download""}",Riddle Me Scavenger and Treasure Hunt Program ...,1303344000,false,None,None
2,B004X0DDOI,5.0,I have owned Riddle Me now for over 3 years. ...,AQR3RJGLT0THI,dougc,"{""Platform:"":"" PC Download""}",I've used Riddle Me for all kinds of fun situa...,1303344000,false,None,None
3,B004X0DDOI,5.0,This is an AWESOME program. Very user friendly...,AD9RALHURQS3Z,phess,"{""Platform:"":"" PC Download""}",AWESOME program!!,1303344000,false,None,None
4,B004X0DDOI,5.0,This is an incredible program with some cool f...,A3P74B68BZQ6SQ,JAnderson,"{""Platform:"":"" PC Download""}",I love this program!,1303344000,false,None,None
...,...,...,...,...,...,...,...,...,...,...,...
292050,B0006BDIZM,2.0,The software that utilizes the headset/microph...,A326YE0MOJ2HGI,Johnny Bulky,None,Dragoon NaturallySpeaking Version 8 (Mobile),1105920000,false,None,88
292051,B0006BDIZM,5.0,What amazing technology! I tried this stuff a...,A1FISCYV1709QG,Pat R.,None,It's Magic,1102636800,false,None,19
292052,B0006BDIZM,5.0,I am an avid Dragon user (had versions 6 and 7...,AZSFCPNGI3UE,Lenny P,None,Dragon NaturallySpeaking Mobile,1102636800,false,None,19
292053,B00004T72W,4.0,My daughter rushed to complete all of the task...,A39KJ5WY3YRV8N,J. Mowat,None,An enjoyable game (the first time),977097600,false,None,10
292054,B002WDFB48,5.0,Yes,A37CPI43XNNKP5,Amazon Customer,None,Five Stars,1470960000,true,None,None

In [10]:
ds.columns

Index(['asin', 'overall', 'reviewText', 'reviewerID', 'reviewerName', 'style',
       'summary', 'unixReviewTime', 'verified', 'image', 'vote'],
      dtype='object')

In [11]:
ds.dtypes

asin              object
overall           object
reviewText        object
reviewerID        object
reviewerName      object
style             object
summary           object
unixReviewTime    object
verified          object
image             object
vote              object
dtype: object

In [12]:
ds.describe()

,asin,overall,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,image,vote
count,292055,292055,292030,292055,292036,137680,292031,292055,292055,752,92546
unique,13209,5,271296,244370,189451,104,193089,6819,2,725,381
top,B00CTTEKJW,5.0,good,A5JLAU2ARJ0BO,Amazon Customer,"{""Format:"":"" Software""}",Five Stars,1456790400,true,"[""https://images-na.ssl-images-amazon.com/imag...",2
freq,7929,129709,423,65,13072,19722,24683,556,182205,5,21707

In [13]:
ds.isna().sum()

asin                   0
overall                0
reviewText            25
reviewerID             0
reviewerName          19
style             154375
summary               24
unixReviewTime         0
verified               0
image             291303
vote              199509
dtype: int64

In [14]:
ds["asin"].value_counts()

B00CTTEKJW    7929
B00E6LJ2SA    4038
B00M9GTHS4    3401
B00EZPXYP4    3294
B015724OVG    2735
              ...
B00005MOZR       1
B0000VYK1E       1
B000W9NA88       1
B00099QY8Y       1
B002WDFB48       1
Name: asin, Length: 13209, dtype: int64

In [15]:
ds["overall"].value_counts()

5.0    129709
1.0     65763
4.0     49150
3.0     26289
2.0     21144
Name: overall, dtype: int64

## Initial observations

***

- We are going to need transformations as all items are data type Object(strings).
- We shall drop the columns:  *image, vote, and style* per low information gain (and many NaN values).
- Columns *reviewerID and reviewerName* are related yet reviewerID is free of missing values, thus removing the *reviewerName* column as well
- Suggest changing name to *overall* into **score** and data type to int64 as is likely the target variable.
- Reduce into smaller dataframes for visualizations and begin corelations
- Likely feature engineering will be beneficial
- Heavy string at column reviewText is target for further analysis and summary will be quite useful as well

***

## Initial prep work prior to EDA

> Act on the initial observations

In [16]:
# Changing the column named mentioned at Initial Observations

ds.rename(columns = {'overall':'score'}, inplace = True)

In [17]:
ds.head(1)

,asin,score,reviewText,reviewerID,reviewerName,style,summary,unixReviewTime,verified,image,vote
0,B002IYJQ9C,1.0,This software is a disgrace. It was published...,A2BJJGFS2NJ3H3,Jack Merritt,None,Pass this by,1280966400,true,None,4

In [18]:
# Remove columns that are not needed

ds.drop(['style','vote','image'], axis = 1, inplace = True)

In [19]:
ds.head(1)

,asin,score,reviewText,reviewerID,reviewerName,summary,unixReviewTime,verified
0,B002IYJQ9C,1.0,This software is a disgrace. It was published...,A2BJJGFS2NJ3H3,Jack Merritt,Pass this by,1280966400,true

In [20]:
# Now remove the related column that is not needed

ds.drop(['reviewerName'], axis = 1, inplace = True)

In [21]:
ds.head(1)

,asin,score,reviewText,reviewerID,summary,unixReviewTime,verified
0,B002IYJQ9C,1.0,This software is a disgrace. It was published...,A2BJJGFS2NJ3H3,Pass this by,1280966400,true

In [22]:
# Change score to int64 data type

ds['score'].replace(['1.0', '2.0', '3.0', '4.0', '5.0'], [1, 2, 3, 4, 5], inplace = True)

In [23]:
ds.head(1)

,asin,score,reviewText,reviewerID,summary,unixReviewTime,verified
0,B002IYJQ9C,1,This software is a disgrace. It was published...,A2BJJGFS2NJ3H3,Pass this by,1280966400,true

In [25]:
ds.dtypes

asin              object
score              int64
reviewText        object
reviewerID        object
summary           object
unixReviewTime    object
verified          object
dtype: object

In [26]:
# Confirmed most of the null values have been addressed

ds.isna().sum()

asin               0
score              0
reviewText        25
reviewerID         0
summary           24
unixReviewTime     0
verified           0
dtype: int64

In [27]:
# Convert unixReviewTime to a more human friendly timestamp

ds['unixReviewTime'] = pd.to_datetime(ds['unixReviewTime'], unit='s')
ds.head(1)

,asin,score,reviewText,reviewerID,summary,unixReviewTime,verified
0,B002IYJQ9C,1,This software is a disgrace. It was published...,A2BJJGFS2NJ3H3,Pass this by,2010-08-05,true

In [28]:
# Now change the name to timestamp

ds.rename(columns = {'unixReviewTime':'timestamp'}, inplace = True)
ds.head(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified
0,B002IYJQ9C,1,This software is a disgrace. It was published...,A2BJJGFS2NJ3H3,Pass this by,2010-08-05,true

In [29]:
ds['timestamp'].describe

<bound method NDFrame.describe of 0        2010-08-05
1        2011-04-21
2        2011-04-21
3        2011-04-21
4        2011-04-21
            ...
292050   2005-01-17
292051   2004-12-10
292052   2004-12-10
292053   2000-12-18
292054   2016-08-12
Name: timestamp, Length: 292055, dtype: datetime64[ns]>

In [30]:
ds['timestamp'].unique()

array(['2010-08-05T00:00:00.000000000', '2011-04-21T00:00:00.000000000',
       '2011-05-18T00:00:00.000000000', ...,
       '2001-05-08T00:00:00.000000000', '2000-02-15T00:00:00.000000000',
       '2000-01-13T00:00:00.000000000'], dtype='datetime64[ns]')

In [31]:
# Sorting data set per time line

ds.sort_values(by = ['timestamp'], inplace = True)

In [32]:
ds.head(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified
78724,0671573535,1,We have not been able to even run this game be...,A1I7E79WGWUP6Y,don't buy this game,1998-12-04,false

In [33]:
ds.tail(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified
87196,B0153V644G,1,I need a refund,A1H5W5TTW5DS7Y,Doesn't work,2018-08-27,true

In [34]:
# Some feature engineering for time and date

ds['date'] = pd.to_datetime(ds['timestamp']).dt.date
ds['year'] = pd.to_datetime(ds['timestamp']).dt.year
ds['month'] = pd.to_datetime(ds['timestamp']).dt.month
ds['day'] = pd.to_datetime(ds['timestamp']).dt.day
ds['day_of_week'] = pd.to_datetime(ds['timestamp']).dt.dayofweek
ds.head(1)

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year,month,day,day_of_week
78724,0671573535,1,We have not been able to even run this game be...,A1I7E79WGWUP6Y,don't buy this game,1998-12-04,false,1998-12-04,1998,12,4,4

In [35]:
# Convert data column from object to numeric

ds['date'] = pd.to_datetime(ds['date'])

In [36]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292055 entries, 78724 to 87196
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   asin         292055 non-null  object
 1   score        292055 non-null  int64
 2   reviewText   292030 non-null  object
 3   reviewerID   292055 non-null  object
 4   summary      292031 non-null  object
 5   timestamp    292055 non-null  datetime64[ns]
 6   verified     292055 non-null  object
 7   date         292055 non-null  datetime64[ns]
 8   year         292055 non-null  int64
 9   month        292055 non-null  int64
 10  day          292055 non-null  int64
 11  day_of_week  292055 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(5)
memory usage: 29.0+ MB

In [38]:
ds.reset_index(inplace = True, drop = True)
ds.head()

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year,month,day,day_of_week
0,0671573535,1,We have not been able to even run this game be...,A1I7E79WGWUP6Y,don't buy this game,1998-12-04,false,1998-12-04,1998,12,4,4
1,1559404779,4,About 140 movies were reviewed. I love the fil...,A3KDTS7917RNBA,Good reference book for Criterion early LD's,1999-10-23,false,1999-10-23,1999,10,23,5
2,B00002S5B2,5,WOW! (and I mean that). This game is fantastic...,A39CQ908D0IA6P,An excellent music activity game for kids AND ...,1999-11-10,false,1999-11-10,1999,11,10,2
3,B00002S8D6,5,Sick of Microsoft's Blue Screen Of Death? Get...,A1F0L19M8TK50Q,No more BSOD!,1999-11-10,false,1999-11-10,1999,11,10,2
4,B00002S946,2,I bought it mainly to assist in translation of...,A28CW8ZT3N3O2D,Unimpressive,1999-11-12,false,1999-11-12,1999,11,12,4

In [39]:
ds.describe(include='all', datetime_is_numeric=True)

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year,month,day,day_of_week
count,292055,292055.000000,292030,292055,292031,292055,292055,292055,292055.000000,292055.000000,292055.000000,292055.000000
unique,13209,NaN,271296,244370,193089,NaN,2,NaN,NaN,NaN,NaN,NaN
top,B00CTTEKJW,NaN,good,A5JLAU2ARJ0BO,Five Stars,NaN,true,NaN,NaN,NaN,NaN,NaN
freq,7929,NaN,423,65,24683,NaN,182205,NaN,NaN,NaN,NaN,NaN
mean,NaN,3.533797,NaN,NaN,NaN,2012-06-30 12:27:31.792984576,NaN,2012-06-30 12:27:31.792984576,2012.038808,6.027300,15.599151,2.910192
min,NaN,1.000000,NaN,NaN,NaN,1998-12-04 00:00:00,NaN,1998-12-04 00:00:00,1998.000000,1.000000,1.000000,0.000000
25%,NaN,2.000000,NaN,NaN,NaN,2009-11-12 00:00:00,NaN,2009-11-12 00:00:00,2009.000000,3.000000,8.000000,1.000000
50%,NaN,4.000000,NaN,NaN,NaN,2013-08-26 00:00:00,NaN,2013-08-26 00:00:00,2013.000000,6.000000,15.000000,3.000000
75%,NaN,5.000000,NaN,NaN,NaN,2015-04-05 00:00:00,NaN,2015-04-05 00:00:00,2015.000000,9.000000,23.000000,5.000000
max,NaN,5.000000,NaN,NaN,NaN,2018-08-27 00:00:00,NaN,2018-08-27 00:00:00,2018.000000,12.000000,31.000000,6.000000
std,NaN,1.622637,NaN,NaN,NaN,NaN,NaN,NaN,3.829637,3.610468,8.801564,1.994465

In [40]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292055 entries, 0 to 292054
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   asin         292055 non-null  object
 1   score        292055 non-null  int64
 2   reviewText   292030 non-null  object
 3   reviewerID   292055 non-null  object
 4   summary      292031 non-null  object
 5   timestamp    292055 non-null  datetime64[ns]
 6   verified     292055 non-null  object
 7   date         292055 non-null  datetime64[ns]
 8   year         292055 non-null  int64
 9   month        292055 non-null  int64
 10  day          292055 non-null  int64
 11  day_of_week  292055 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(5)
memory usage: 26.7+ MB

***

In [41]:
print(f'Amount of asin in this data set is :')
print(len(ds['asin'].unique()))

Amount of asin in this data set is :
13209

In [42]:
ds['year'].unique()

array([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
      dtype=int64)

In [43]:
print(f'Amount of years in this data set is :')
print(len(ds['year'].unique()))

Amount of years in this data set is :
21

In [45]:
ds['verified'].value_counts()

true     182205
false    109850
Name: verified, dtype: int64

In [44]:
ds.head()

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year,month,day,day_of_week
0,0671573535,1,We have not been able to even run this game be...,A1I7E79WGWUP6Y,don't buy this game,1998-12-04,false,1998-12-04,1998,12,4,4
1,1559404779,4,About 140 movies were reviewed. I love the fil...,A3KDTS7917RNBA,Good reference book for Criterion early LD's,1999-10-23,false,1999-10-23,1999,10,23,5
2,B00002S5B2,5,WOW! (and I mean that). This game is fantastic...,A39CQ908D0IA6P,An excellent music activity game for kids AND ...,1999-11-10,false,1999-11-10,1999,11,10,2
3,B00002S8D6,5,Sick of Microsoft's Blue Screen Of Death? Get...,A1F0L19M8TK50Q,No more BSOD!,1999-11-10,false,1999-11-10,1999,11,10,2
4,B00002S946,2,I bought it mainly to assist in translation of...,A28CW8ZT3N3O2D,Unimpressive,1999-11-12,false,1999-11-12,1999,11,12,4

## Checkpoint

> Loading progress into a new file

In [46]:
ds.to_parquet('datathon_73023_AM.parquet')

**End of process**