*7.31.2023 AM_to_PM Monday*

<div class="alert alert-block alert-success">
<center><h1><b> Datathon Initial Category Exploratory Data Analysis / Data Understanding </b></h1></center>
<center><h2><b> Part I </b></h2></center>

<br/> 


Objectives:

    *   Understand the data with a) Descriptive/Summary Statistics and b) Data Visualization (graphs/charts/tables)
    *   Determine if data makes sense
    *   Identify data patterns/trends/gain insights    
    *   Identify key Vars
    *   Determine if data wrangling/cleaning/scrub is needed (identify imperfections/probls in the data)
    

</div>

***

# Data Collection

## Imports and dataset extraction

> Getting started

In [ ]:
#pip install pandas pyarrow

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow

In [2]:
# Rod's standard variable for a DataFrame is ds as acronym for data set

datathon_eda_sw_industry_reviews_file = "/Users/dslab/datathon_73023_AM.parquet"
ds = pd.read_parquet(datathon_eda_sw_industry_reviews_file, engine='pyarrow')

In [3]:
# Rod's standard variable for a DataFrame is ds as acronym for data set and now Clean Metada Data Set as cmds


datathon_metadata_pkt_731_file = "/Users/dslab/mds_73123_PM.parquet"
cmds = pd.read_parquet(datathon_metadata_pkt_731_file, engine='pyarrow')

In [4]:
ds['asin'].describe()

count         292055
unique         13209
top       B00CTTEKJW
freq            7929
Name: asin, dtype: object

In [5]:
cmds['asin'].describe()

count          22529
unique         22529
top       0030672120
freq               1
Name: asin, dtype: object

In [7]:
ds.isnull().sum()

asin            0
score           0
reviewText     25
reviewerID      0
summary        24
timestamp       0
verified        0
date            0
year            0
month           0
day             0
day_of_week     0
dtype: int64

In [6]:
cmds.isnull().sum()

asin     0
brand    0
title    0
dtype: int64

In [8]:
cmds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22529 entries, 0 to 22528
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   asin    22529 non-null  object
 1   brand   22529 non-null  object
 2   title   22529 non-null  object
dtypes: object(3)
memory usage: 528.1+ KB

In [9]:
cmds.head()

,asin,brand,title
0,0030672120,HOLT. RINEHART AND WINSTON,HOLT PHYSICS LESSON PRESENTATION CD-ROM QUICK ...
1,0071480935,McGraw Hill,"Sing, Watch, &amp; Learn Spanish (DVD + Guide)..."
2,007329506X,McGraw-Hill Science/Engineering/Math,Connect with LearnSmart Access Card for Microb...
3,0073513458,McGraw-Hill Education,LearnSmart Standalone Access Card for Prescott...
4,0073525758,McGraw-Hill Education,Anatomy &amp; Physiology Revealed Student Acce...

### Checking relationship of asin among the 2 data frames

In [10]:
# Reviews data set against Metadata data set

ds['asin'].isin(cmds['asin']).value_counts()

True    292055
Name: asin, dtype: int64

In [11]:
# Metadata data set against Reviews data set

cmds['asin'].isin(ds['asin']).value_counts()

True     13209
False     9320
Name: asin, dtype: int64

### Merging and checking

In [13]:
# Using acronym One Data Set as ods

ods = pd.merge(ds, cmds, how='inner', on='asin')
ods.shape

(292055, 14)

In [15]:
ods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292055 entries, 0 to 292054
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   asin         292055 non-null  object
 1   score        292055 non-null  int64
 2   reviewText   292030 non-null  object
 3   reviewerID   292055 non-null  object
 4   summary      292031 non-null  object
 5   timestamp    292055 non-null  datetime64[ns]
 6   verified     292055 non-null  object
 7   date         292055 non-null  datetime64[ns]
 8   year         292055 non-null  int64
 9   month        292055 non-null  int64
 10  day          292055 non-null  int64
 11  day_of_week  292055 non-null  int64
 12  brand        292055 non-null  object
 13  title        292055 non-null  object
dtypes: datetime64[ns](2), int64(5), object(7)
memory usage: 33.4+ MB

In [16]:
ods.head()

,asin,score,reviewText,reviewerID,summary,timestamp,verified,date,year,month,day,day_of_week,brand,title
0,0671573535,1,We have not been able to even run this game be...,A1I7E79WGWUP6Y,don't buy this game,1998-12-04,false,1998-12-04,1998,12,4,4,Simon & Schuster Interactive,Star Trek Borg
1,1559404779,4,About 140 movies were reviewed. I love the fil...,A3KDTS7917RNBA,Good reference book for Criterion early LD's,1999-10-23,false,1999-10-23,1999,10,23,5,Voyageur Pub,Criterion Goes to the Movies / CD Rom Mac
2,1559404779,5,"A movie lover's dream come true, Criterion Goe...",A2SKLVWTDV34BK,Discover Classic & Contemporary Film,2009-01-29,false,2009-01-29,2009,1,29,3,Voyageur Pub,Criterion Goes to the Movies / CD Rom Mac
3,B00002S5B2,5,WOW! (and I mean that). This game is fantastic...,A39CQ908D0IA6P,An excellent music activity game for kids AND ...,1999-11-10,false,1999-11-10,1999,11,10,2,Mattel,Sesame Street Music Maker
4,B00002S5B2,5,I can't say enough about how wonderful this so...,AJ1ZEMJSJYDOC,"Outstanding - entertaining, educational, and fun!",2000-09-09,false,2000-09-09,2000,9,9,5,Mattel,Sesame Street Music Maker

In [17]:
ods['brand'].describe()

count     292055
unique      2681
top       Intuit
freq       57889
Name: brand, dtype: object

## Checkpoint

> Loading progress into a new file

In [18]:
ods.to_parquet('one_sw_df_7312023_2104.parquet')

**End of process**